import java.util.List;

import dev.janetschel.interfaces.GenericPuzzle;

public class Puzzle implements GenericPuzzle  {
    public Object solvePart1(List<String> input) {

        return null;
    }

    public Object solvePart2(List<String> input) {

        return null;
    }
}
